{{#partial "content"}}

    <h3>Sightings</h3>
    {{#each sightings}}
        <div class="border border-1 p-3 m-2 bg-dark">

            <p>Animal Id : {{id}}</p>
            <p>Location : {{location}}</p>
            <p>Ranger Name : {{rangerName}}</p>
            <p class="text-secondary">Recorded At {{timeSeen}}</p>

            <a class="btn btn-info btn-sm" href="/sightings/{{id}}/update">Edit</a>
            <a class="btn btn-danger btn-sm" href="/sightings/{{id}}/delete">Delete</a>

        </div>
    {{/each}}
<div class="adds">
    <a href="/en-animal-form" class="btn btn-success btn-sm">Add endangered animal</a>
    <a href="/animal-form" class="btn btn-success btn-sm">Add animal</a>
</div>



{{/partial}}
{{> layout.hbs}}