{{#partial "content"}}
    {{#if editSight}}

        <form action="/sightings/{{editSight.id}}/update" method="post" class="form">
            <h1>Update Sighting</h1>
            <label for="animal" class="in-line">Animal:</label>
            <select id="animal" name="animal" type="text" class="form-control">
                {{#each animals}}
                    <option value="{{id}}">{{name}}</option>
                {{/each}}

            </select>

            <label for="location">Location:</label>
            <select id="location" name="location" type="text" class="form-control">
                <option value="Zone A">Zone A</option>
                <option value="Zone B">Zone B</option>
                <option value="Zone C">Zone C</option>
                <option value="Zone D">Zone D</option>
            </select>

            <label for="rangerName">Ranger Name:</label>
            <input type="text" name="rangerName" class="form-control transparentInputFields" value="{{editSight.rangerName}}">

            <button class="btn btn-success" type="submit">Edit</button>

    {{else}}


        <div class="form text-dark">
            <h1>Record your sightings</h1>
            <form action="/sighting-form/new" method="post" class="text-dark">
                <label for="animal" class="in-line">Animal:</label>
                <select id="animal" name="animal" type="text">
                    {{#each animals}}
                        <option value="{{id}}">{{name}}</option>
                    {{/each}}

                </select> <br>

                <label for="location">Location:</label>
                <select id="location" name="location" type="text">
                    <option value="Zone A">Zone A</option>
                    <option value="Zone B">Zone B</option>
                    <option value="Zone C">Zone C</option>
                    <option value="Zone D">Zone D</option>
                </select> <br>

                <label for="rangerName">Ranger Name:</label>
                <input type="text" name="rangerName">

                <button class="btn btn-success btn-sm" type="submit">Add Sighting</button>
          {{/if}}
              </form>
        </div>






{{/partial}}
{{> layout.hbs}}